@use '../../assets/styles/mixins' as mixin;

.container {
  height: 400px;
  margin-top: 30%;
  padding-bottom: 250px;
  @include mixin.md-all {
    margin-top: 10%;
  }
}

.title {
  font-size: 96px;
  @include mixin.md-all {
    font-size: 288px;
  }
}

.message {
  font-size: 18px;
  @include mixin.md-all {
    font-size: 36px;
  }
}

  .linkBackHome {
    font-size: 14px;
    margin-top: 15%;
    @include mixin.sm{
      margin-top: 20%;
    }
    @include mixin.md-all {
      margin-top: 10%;
      font-size: 18px;
    }
  }

